<div class="scrollable timeline-editor">
  <div class="timeline-editor__container">
    <div class="timeline-editor__outline">
      <div class="timeline-editor__outline-header"></div>
      <div class="timeline-editor__outline-items">
        {{#each effects as |effect|}}
          <div class="timeline-editor__outline-item">
            {{effect.type}}
            {{#if effect.duration}}
              ({{effect.duration}}ms)
            {{/if}}
          </div>
        {{/each}}
      </div>
      <div class="timeline-editor__outline-footer flexrow">
        <button
          type="button"
          data-action="addEffect"
          data-tooltip="{{{localize
            'DEATH-EFFECTS.TIMELINE.ADDEFFECT.TOOLTIP'
          }}}"
        >
          <i class="fa-solid fa-plus"></i>
          {{localize "DEATH-EFFECTS.TIMELINE.ADDEFFECT.LABEL"}}
        </button>
      </div>
    </div>
    <div id="{{@root.rootId}}-timeline" class="timeline-editor__timeline"></div>
  </div>
</div>