<div class="form-group">
  <label for="{{@root.rootId}}-label">{{localize
      "DEATH-EFFECTS.EFFECTS.COMMON.LABEL.LABEL"
    }}</label>
  <input
    type="text"
    id="{{@root.rootId}}-label"
    name="label"
    value="{{label}}"
  />
  <p class="hint">{{localize "DEATH-EFFECTS.EFFECTS.COMMON.LABEL.HINT"}}</p>
</div>