<div>
  {{#with effect}}
    <div class="form-group">
      <label for="{{@root.rootId}}-label">{{localize
          "DEATH-EFFECTS.EFFECTS.COMMON.LABEL.LABEL"
        }}</label>
      <input
        type="text"
        id="{{@root.rootId}}-label"
        name="label"
        value="{{label}}"
      />
      <p class="hint">{{localize "DEATH-EFFECTS.EFFECTS.COMMON.LABEL.HINT"}}</p>
    </div>

    <div class="form-group">
      <label for="{{@root.rootId}}-start">{{localize
          "DEATH-EFFECTS.EFFECTS.COMMON.START.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        id="{{@root.rootId}}-start"
        name="start"
        placeholder="0"
        value="{{start}}"
      />
      <p class="hint">{{localize "DEATH-EFFECTS.EFFECTS.COMMON.START.HINT"}}</p>
    </div>

    <div class="form-group">
      <label for="{{@root.rootId}}-duration">{{localize
          "DEATH-EFFECTS.EFFECTS.COMMON.DURATION.LABEL"
        }}</label>
      <input
        type="number"
        min="0"
        step="1"
        id="{{@root.rootId}}-duration"
        name="duration"
        placeholder="500"
        value="{{duration}}"
      />
      <p class="hint">{{localize
          "DEATH-EFFECTS.EFFECTS.COMMON.DURATION.HINT"
        }}</p>
    </div>
  {{/with}}
</div>