<div>
  {{#with effect}}
    {{> "modules/death-effects/templates/effects/partials/label.hbs" }}
    {{> "modules/death-effects/templates/effects/partials/start.hbs" }}
    {{> "modules/death-effects/templates/effects/partials/duration.hbs" }}

    <div class="form-group">
      <label for="{{@root.rootId}}-strength">{{localize
          "DEATH-EFFECTS.EFFECTS.SCREENSHAKE.STRENGTH.LABEL"
        }}</label>
      <input
        type="number"
        id="{{@root.rootId}}-strength"
        name="strength"
        value="{{strength}}"
        min="0"
        step="any"
      />
      <p class="hint">{{localize
          "DEATH-EFFECTS.EFFECTS.SCREENSHAKE.STRENGTH.HINT"
        }}</p>
    </div>

    <div class="form-group">
      <label for="{{@root.rootId}}-backgroundOnly">{{localize "DEATH-EFFECTS.EFFECTS.SCREENSHAKE.BACKGROUNDONLY.LABEL"}}</label>
      <input type="checkbox" id="{{@root.rootId}}-backgroundOnly" name="backgroundOnly" {{checked backgroundOnly}}>
      <p class="hint">{{localize "DEATH-EFFECTS.EFFECTS.SCREENSHAKE.BACKGROUNDONLY.HINT"}}</p>
    </div>
  {{/with}}
  {{> "modules/death-effects/templates/effects/partials/easing.hbs" }} 
</div>